html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

@font-face {
    font-family: Jersey;
    src: url('./Fonts/Jersey_10/Jersey10-Regular.ttf');
}

@font-face {
    font-family: Jersey_25;
    src: url('./Fonts/Jersey_25/Jersey25-Regular.ttf');
}

body {
    overflow: hidden;
}

#overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#container {
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0px);
}

#mainScreen { 
    border-right: 0.5px solid rgb(215, 215, 215);  
    border-left: 0.5px solid rgb(215, 215, 215);  
    border-bottom: 0.5px solid rgb(215, 215, 215);  
}

#child {
    position: absolute;
    top: 0px;
}

#score {
    position: absolute;
}

.start-button {
    position: absolute; 
    top: 0px; 
    background-color:black; 
    color: white; 
    padding: 10px; 
    font-size: 25px; 
    cursor: pointer; 
    border: none; 
    display: inline-block;
    font-family: Jersey_25;
}

.music-name {
    position: absolute; 
    color: white; 
    padding: 10px; 
    font-size: 25px; 
    cursor: pointer; 
    display: inline-block;
    font-family: Jersey_25;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.game-over-screen span {
    color: white;
    font-size: 25px; 
    font-family: Jersey_25;
}

.best-results-container {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-family: Jersey_25;
    font-size: 25px;
    text-align: right;
}

@media (max-width: 576px) {

    .start-button {
        font-size: 20px; 
    }

    #container {
        transform: translate(-50%, 0px);
        bottom: 110px;
        left: 50%;
    }

    #score {
        right: -10px;
    }

    .music-name {
        font-size: 20px; 
        width: 100%;
        word-wrap: break-word;
    }

    .best-results-container {
        font-size: 20px;
    }
}