html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

@font-face {
    font-family: Jersey;
    src: url('./Fonts/Jersey_10/Jersey10-Regular.ttf');
}

@font-face {
    font-family: Jersey_25;
    src: url('./Fonts/Jersey_25/Jersey25-Regular.ttf');
}

body {
    background-size: cover;
    font-size: 16px;
    overflow: hidden;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

#container {
    width: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainScreen { 
    border-right: 0.5px solid rgb(215, 215, 215);  
    border-left: 0.5px solid rgb(215, 215, 215);  
    border-bottom: 0.5px solid rgb(215, 215, 215);  
}

#child {
    position: absolute;
    top: 0px;
}

#score {
    position: absolute;
}

.start-button {
    position: relative; 
    top: 0px; 
    background-color:black; 
    color: white; 
    padding: 10px; 
    font-size: 25px; 
    cursor: pointer; 
    border: none; 
    display: inline-block;
    font-family: Jersey_25;
}

.music-name {
    position: relative; 
    top: 0px; 
    color: white; 
    padding: 10px; 
    font-size: 25px; 
    cursor: pointer; 
    border: none; 
    display: inline-block;
    font-family: Jersey_25;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.game-over-screen span {
    color: white;
    font-size: 25px; 
    font-family: Jersey_25;
}

@media (max-width: 576px) {

    .music-name, .start-button {
        font-size: 20px; 
    }

    #container {
        transform: translate(-50%, -35%);
    }

    #score {
        border: 1px solid red;
        right: 0px;
    }
}